.r2-c4{
    padding-top: 10px;
     color: #000;
     font-size: 18px;
     font-family: 'Kanit-Light';
 }

 .r2-c5{
    
     color: rgb(7, 9, 151);
     font-size: 18px;
     font-family: 'Kanit-Light';
 }
 .box-bg{
    background-color: #F3F3F3;
    width: 700px;
    height: 360px;
    margin: 5px;
}

.box-bg2{
    background-color: #ffffff;
    width: 800px;
    height: 380px;
    margin: 5px;
    font-family: 'Kanit-Light';
    margin-top: 5px;
   
}

.img1-box{
    width: 700px;
    height: 380px;
    margin-top: 10px;
    margin-right: 0px;
}

.img4-box{
    width: 325px;
    height: 230px;
    padding-top: 5px;
    
}
.img5-box{
    width: 325px;
    height: 230px;
    padding-top: 5px;
}
.img6-box{
    width: 325px;
    height: 230px;
    padding-top: 5px;
}
.img7-box{
    width: 325px;
    height: 230px;
    padding-top: 5px;
}