.pad-l-20{
    padding-left: 10px;
 }
 
 .text-header-ab{
     margin: 0;
     padding: 10px;
     font-size:22px ;
   background-color:#ff0000 ;
     color: #fff;
     border-radius:5px 5px 0 0 ;
     
 }
 .textField-width1{
     width: 120px;
  
 }
 .pad-10{
     padding: 5px;
     padding-left: 10px;
 }
 
 